.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  width: 24px;
  height: 24px;

  border: none;
  background-color: transparent;

  cursor: pointer;

  & .material-icons {
    font-weight: 500;
  }
  transition: transform $transition;
  &:hover,
  &:focus {
    transform: scale(1.5);
  }

  @media screen and (min-width: $tablet) {
    top: 25px;
    right: 25px;
  }
}

.add-card__title {
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 1.15;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }
}

.add-card__item {
  &.photo {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 10px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &.checkbox-item {
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 30px;
    }
  }
}

.add-card__label {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.add-card__subtitle {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    display: inline-block;
    margin-bottom: 0;
  }
}

.add-card__input {
  padding: 21px 20px 20px 23px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border: 1px solid $dark-grey;
  cursor: text;

  width: 100%;

  @media screen and (min-width: $tablet) {
    width: 458px;
  }

  @media screen and (min-width: $desktop) {
    width: 440px;
  }

  &.select-input {
    cursor: pointer;
  }

  &:focus {
    border: 1px solid $accent;
    outline: none;
  }
}

.add-card__input.description {
  padding: 7px 10px 8px;
  resize: vertical;
  overflow: auto;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
}

.notice {
  position: relative;
  cursor: text;

  & .add-card__input::-webkit-inner-spin-button {
    display: none;
  }

  & .icon-btn {
    top: 43px;
    right: 15px;
    position: absolute;

    @media screen and (min-width: $tablet) {
      top: 17px;
      right: 15px;
    }
  }
}

.select-input {
  background-image: url('../img/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-origin: border-box;
  background-position: 218px 25px;
  appearance: none;

  @media screen and (min-width: $tablet) {
    background-position: 425px 25px;
  }

  @media screen and (min-width: $desktop) {
    background-position: 409px 25px;
  }
}

.notice-label {
  position: absolute;
  bottom: 0;
  left: 23px;

  opacity: 1;
  transition: opacity $transition 250ms;

  color: $dark-grey;

  .notice:focus-within &,
  .notice .add-card__input:not(:placeholder-shown) + & {
    opacity: 0;
  }

  @media screen and (min-width: $tablet) {
    left: 181px;
    bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    left: 234px;
    bottom: 20px;
  }
}

.price-valuta {
  position: absolute;
  left: 55px;
  bottom: 0;
  color: $dark-grey;

  transform: translate(0, 0);
  transition: color $transition, transform $transition;

  .notice:focus-within &,
  .notice .add-card__input:not(:placeholder-shown) ~ & {
    transform: translate(100%, 0);
    right: 33px;
    color: $black;
  }

  @media screen and (min-width: $tablet) {
    left: 213px;
    bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    left: 265px;
    bottom: 20px;
  }
}

.submit-btn {
  width: 100%;
  padding: 20px 0;

  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  color: $white;
  background-color: $accent;
  border: none;

  cursor: pointer;

  &.reset {
    margin-left: 15px;
    color: $black;
    background-color: $white;
    border: 1px solid $dark-grey;

    @media screen and (min-width: $tablet) {
      margin-left: 20px;
    }
  }

  @media screen and (min-width: $tablet) {
    margin-left: 158px;
    width: 265px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 211px;
    width: 210px;
  }
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;

  @media screen and (min-width: $tablet) {
    margin: 0;
    width: 458px;
    flex-wrap: nowrap;
  }

  @media screen and (min-width: $desktop) {
    width: 440px;
    flex-wrap: nowrap;
  }
}

.photo-item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 5px;
  width: calc((100% - 3 * 10px) / 3);
  height: 46px;

  background-color: $main-grey;

  @media screen and (min-width: $tablet) {
    width: 84px;
    margin: 0;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.photo-input {
  display: none;
}

.photo-label {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0;

  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $dark-grey;
  cursor: pointer;

  &.active {
    opacity: 1;
  }
}

#output_image {
  max-width: 76px;
  max-height: 46px;

  @media screen and (min-width: $tablet) {
    max-width: 83px;
    max-height: 50px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 78px;
  }
}

.checkbox-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.07em;

  cursor: pointer;

  @media screen and (min-width: $tablet) {
    margin-left: 158px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 211px;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &::before {
    content: '';
    margin-right: 10px;

    display: inline-block;
    width: 14px;
    height: 14px;

    background-image: url('../img/delete-card.svg');
    background-size: contain;
    background-origin: border-box;
  }
}

.checkbox:checked + .checkbox-label::before {
  background-image: url('../img/delete-card-checked.svg');
}

.checkbox:checked + .checkbox-label {
  color: $accent;
}

.edit-buttons {
  display: flex;

  & .submit-btn {
    font-weight: 500;
    text-transform: none;
  }
}

.category-list {
  position: absolute;
}

.invalid {
  border-color: $main-red;
}

.error-message {
  height: 20px;
  color: $main-red;
  margin-top: 5px;
  font-size: 12px;

  @media screen and (min-width: $tablet) {
    margin-left: 160px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 210px;
  }
}
