.header_button__search {
  background-color: $main-grey;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translateX(-50%);
  }
}

.header_button__replay {
  background-color: $main-grey;

  margin-right: 14px;
  margin-left: 40px;
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.header_button__perm_identity {
  background-color: $main-grey;

  margin-right: 21px;

  @media screen and (max-width: 1279px) {
    margin-right: 0;
    margin-left: 35px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.header-menu-icon {
  background-color: $main-grey;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  &_nav__list {
    display: flex;
    align-items: center;
  }

  &_button__wrap {
    display: flex;
    align-items: center;
  }

  &_logo__link {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 1279px) {
      width: 50px;
      height: 20px;
    }

    @media screen and (min-width: $desktop) {
      width: 56px;
      height: 22px;
    }
  }

  &_registration_link {
    font-weight: $medium;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $black;
    background-color: $main-grey;

    margin-right: 19px;

    @media screen and (max-width: 1279px) {
      margin-right: 0px;
    }

    @media screen and (min-width: $desktop) {
      display: block;
    }
  }

  &_button__create {
    font-weight: $medium;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: $accent;
    color: $white;
    display: none;

    @media screen and (min-width: $tablet) {
      width: 188px;
      height: 70px;
      display: block;
    }

    @media screen and (min-width: $desktop) {
      width: 214px;
      height: 70px;
    }
  }

  &_filter {
    font-weight: $bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.02em;
    color: $black;

    @media screen and (max-width: 1279px) {
      padding-top: 140px;
    }
  }

  &_filter__replay {
    font-weight: $normal;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $black;
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
    }
  }
}

.header_filter__wrap {
  border: 1px solid $stroke-grey;
  border-top: none;
  border-bottom: none;
  border-left: none;

  display: flex;
  align-items: center;
  width: 100%;

  @media screen and (min-width: $tablet) {
    min-height: 70px;
    height: 100%;
  }
}

.header_filter_button {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header_filter {
  display: flex;
  align-items: center;

  &__link {
    &.active {
      color: $accent;
    }
  }
}

@media screen and (min-width: $tablet) {
  .header_filter__item:not(:last-child) {
    margin-right: 42px;
  }
}
.header_nav__wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  @media screen and (min-width: $tablet) {
    height: auto;
  }

  @media screen and (min-width: $desktop) {
    height: 70px;
  }
}

.button-menu {
  background-color: $main-grey;

  min-width: 43px;
  height: 70px;
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  @media screen and (min-width: $tablet) {
    border: 1px solid $stroke-grey;
    border-bottom: none;
    border-left: none;
    border-top: none;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }

  .icon-menu {
    display: none;
  }

  &.is-open .icon-menu {
    display: block;
  }

  &.is-open .icon-close {
    display: none;
  }

  @media screen and (max-width: 479px) {
    position: absolute;
    z-index: 2;
    top: 0%;
    right: 70%;
    transform: translateX(-50%);
  }

  @media screen and (min-width: $phone) and (max-width: 767px) {
    position: absolute;
    z-index: 2;
    top: 0%;
    right: 70%;
    transform: translateX(-50%);
  }
}
.icon-close {
  @media screen and (max-width: 1279px) {
    position: absolute;
    top: 40%;
    left: 200%;
    transform: translateX(200%);
  }
}

.header_filter {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    max-width: 305px;
    width: 100%;
    height: 815px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    max-width: 338px;
    width: 100%;
    height: 1024px;
  }
  @media screen and (max-width: 1279px) {
    display: none;
    background-color: $main-grey;
    position: absolute;
    top: 0;
    left: 0;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: $desktop) {
    .header_filter__item:not(:last-child) {
      margin-right: 42px;
    }
  }
}

.registration_identity__item {
  display: inline-flex;
}

.header_registration_identity {
  @media screen and (max-width: 1279px) {
    border: $stroke-grey solid 1px;
    border-left: none;
    border-right: none;

    display: flex;
    display: none;
    background-color: $main-grey;
    position: absolute;
    z-index: 8;
    top: 100%;
    left: -2.5%;

    @media screen and (max-width: 767px) {
      max-width: 305px;
      width: 100%;
      height: 70px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1279px) {
      max-width: 338px;
      width: 100%;
      height: 70px;
    }

    &.is-open {
      display: block;
    }
  }
}

.header_filter__item {
  @media screen and (max-width: 1279px) {
    display: flex;
    align-items: center;
    height: 70px;

    border: 1px solid $stroke-grey;
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.header_filter__link {
  @media screen and (max-width: 1279px) {
    display: inline-flex;
    margin-left: 34px;
  }
}
.header_button_menu_tablet {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.header_button_menu_phone {
  background-color: $main-grey;
  border: 1px solid $stroke-grey;
  border-top: none;
  border-left: none;
  border-right: none;
}
