// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow-y: scroll;

//   display: flex;
//   align-items: center;
//   justify-content: center;

//   background: $overlay;

//   opacity: 1;
//   transition: opacity $transition;
// }
.modal-product {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 55px 20px 60px;
  width: 290px;
  margin: 0 auto;
  background-color: $white;

  @media screen and (min-width: $tablet) {
    display: flex;
    padding: 55px 55px 60px;
    width: 725px;
    min-height: 614px;
  }

  @media screen and (min-width: $desktop) {
    padding: 60px;
    width: 860px;
    min-width: 670px;
  }
}
.button-close {
  position: absolute;
  top: 20px;
  right: 20px;

  background-color: $white;

  border: none;

  text-decoration: none;

  & .material-icons {
    display: flex;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    background-color: $white;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
  @media screen and (min-width: $tablet) {
    top: 30px;
    right: 30px;
  }
}

.modal-product_photo {
  width: 253px;
  height: 253px;
  @media screen and(min-width:$tablet) {
    width: 280px;
    height: 350px;
  }
  @media screen and(min-width:$desktop) {
    width: 380px;
    height: 470px;
  }
  & img {
    width: 253px;
    height: 253px;
    @media screen and(min-width:$tablet) {
      width: 280px;
      height: 350px;
    }
    @media screen and(min-width:$desktop) {
      width: 380px;
      height: 470px;
    }

    margin: auto;
  }
}
.main-modal-product-photo {
  object-fit: cover;
}

.product-photo-wrapper {
  display: none;
  @media screen and(min-width:$tablet) {
    display: block;
  }
  margin-top: 10px;
}
.product-photo-list {
  display: flex;
  &_item {
    @media screen and (min-width: $tablet) {
      width: 52px;
      height: 56px;
    }
    @media screen and (min-width: $desktop) {
      width: 68px;
      height: 73px;
    }
    overflow: hidden;
    & img {
      width: 52px;
      height: 56px;
      @media screen and (min-width: $desktop) {
        width: 68px;
        height: 73px;
      }
      object-fit: cover;
      margin: auto;
    }
  }
  &_item:not(:first-child) {
    margin-left: 10px;
  }
}

.modal-content-box {
  margin-bottom: 20px;
  &-down {
    display: none;
    @media screen and(min-width:$tablet) {
      display: block;
    }
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }

  &_title {
    font-weight: $medium;
    font-size: 18px;
    line-height: 1.16;

    margin-bottom: 5px;
  }
  &_code {
    font-size: 12px;
    line-height: 1.16;
    color: $dark-grey;

    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
  }
}

.modal-content-wrapper {
  &_price {
    font-weight: $medium;
    font-size: 18px;
    line-height: 1.16;

    margin-top: 30px;
    margin-bottom: 30px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width: $tablet) {
    margin-left: 40px;
  }
}

.modal-button-box {
  position: absolute;
  top: 0;
  opacity: 1;
  transition: opacity $transition;
  cursor: pointer;

  display: inline-block;
  margin-bottom: 20px;
  text-align: center;

  color: $white;
  background-color: $accent;
  padding: 18px 60px;
  width: 255px;
  border: none;

  font-weight: $normal;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @media screen and (min-width: $tablet) {
    width: 300px;
  }

  @media screen and (min-width: $desktop) {
    width: 255px;
  }
}
.modal-button-box-position {
  position: relative;
}
.modal-button-box-info {
  opacity: 0;
  transition: opacity $transition;

  margin-bottom: 20px;
  text-align: center;

  padding: 12px 26px;
  width: 255px;
  border: 2px solid #ff6b09;

  line-height: 1.16;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    width: 300px;
  }

  @media screen and (min-width: $desktop) {
    width: 255px;
  }
}

.button-info_accent {
  font-weight: $medium;
  font-size: 18px;
  line-height: 1.16;
}

.button-info_text {
  font-weight: $light;
  font-size: 12px;
  line-height: 1.16;
  cursor: text;
}

.button-info_text-number {
  font-weight: $medium;
  font-size: 12px;
  line-height: 1.16;
}

.actions-list {
  display: flex;
  margin-bottom: 32px;
}
.actions-item {
  display: flex;
  align-items: center;

  &:first-child {
    margin-right: 47px;
  }

  &_title {
    font-size: 12px;
    line-height: 1.16;
    color: $dark-grey;
    transition: color $transition;
  }
  &_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    background-color: transparent;
    text-decoration: none;

    &:hover .actions-item_title {
      color: $accent;
    }

    &:hover .material-icons {
      cursor: pointer;
      color: $accent;
    }
    & .material-icons {
      color: $dark-grey;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;

      background-color: $white;

      transition: color $transition;
      &.product-favorite-icon.liked {
        color: $accent;
      }
    }
  }
}

.modal-text-title {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  color: $dark-grey;
}

.modal-text {
  font-weight: $light;
  font-size: 14px;
  line-height: 1.14;
}

.product-photo-list-item-img {
  cursor: pointer;
}

.actions-item_button.unlogged {
  display: none;
}
