@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

a {
  text-decoration: none;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

button {
  outline: none;
}

/* dewice-width */
/* colors*/
/* placeholder-text */
/* shadows */
/* fonts */
/* transition */
/* 
Вариант использования миксина 

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include Cardset-Responsive($phone, 15px, 15px, 1);
  @include Cardset-Responsive($tablet, 20px, 20px, 2);
  @include Cardset-Responsive($desktop, 30px, 30px, 3);
}

*/
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  25% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0.5;
  }
  30% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  40% {
    color: #f5f6fb;
    opacity: 0.9;
  }
  60% {
    color: #fff;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  25% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0.5;
  }
  30% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  40% {
    color: #f5f6fb;
    opacity: 0.9;
  }
  60% {
    color: #fff;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}

.error {
  -webkit-animation: fadein 5s cubic-bezier(0.4, 0, 0.2, 1) 1 forwards;
          animation: fadein 5s cubic-bezier(0.4, 0, 0.2, 1) 1 forwards;
}

body > .pnotify.pnotify-positioned.error {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

body > .pnotify.pnotify-positioned.error .material-container {
  border-radius: 0 0 8px 8px;
  padding-top: 100px;
  background: red;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  color: #000000;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img,
a {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: none;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 22px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 20px;
  }
}

main .container {
  overflow-y: scroll;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.cardset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cardset > li {
  width: calc((100% - 0px) / 1);
}

.cardset > li:nth-child(n) {
  margin-right: 15px;
  margin-bottom: 15px;
}

.cardset > li:nth-child(1n) {
  margin-right: 0px;
}

.cardset > li:nth-last-child(-n + 1) {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px), screen and (min-width: 480px) and (orientation: landscape) {
  .cardset > li {
    width: calc((100% - 20px) / 2);
  }
  .cardset > li:nth-child(n) {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .cardset > li:nth-child(2n) {
    margin-right: 0px;
  }
  .cardset > li:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .cardset > li {
    width: calc((100% - 60px) / 4);
  }
  .cardset > li:nth-child(n) {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .cardset > li:nth-child(4n) {
    margin-right: 0px;
  }
  .cardset > li:nth-last-child(-n + 4) {
    margin-bottom: 0px;
  }
}

.cardset__link {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cardset__link:hover .cardset__overlay, .cardset__link:focus .cardset__overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.cardset__link:hover .cardset__icons, .cardset__link:focus .cardset__icons {
  opacity: 1;
}

.cardset__link:hover .cardset__image, .cardset__link:focus .cardset__image {
  -o-object-position: top;
     object-position: top;
}

.cardset__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  will-change: object-position;
  -webkit-transition: object-position 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: object-position 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: object-position 500ms cubic-bezier(0.4, 0, 0.2, 1), -o-object-position 500ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: calc((100vw - 30px) * 275 / 290);
}

@media screen and (min-width: 768px), screen and (min-width: 480px) and (orientation: landscape) {
  .cardset__image {
    height: calc((100vw - 64px) / 2 * 275 / 352);
  }
}

@media screen and (min-width: 1280px) {
  .cardset__image {
    height: calc((100vw - 100px) / 4 * 275 / 295);
  }
}

.cardset__description {
  position: relative;
  z-index: 10;
  height: 75px;
  width: 100%;
  padding: 20px;
  background: #fff;
}

.cardset__title {
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  margin-bottom: 4px;
}

.cardset__overlay {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  padding-bottom: 95px;
  opacity: 0;
  will-change: opacity, transform;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cardset__overlay .icons-container {
  width: 24px;
  height: 24px;
}

.cardset__overlay .icons-container:first-child {
  margin-bottom: 10px;
}

.cardset__overlay .icons-container:last-child {
  margin-top: auto;
}

.cardset__icons {
  font-size: 14px;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cardset__price {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}

.cardset__price.new {
  color: #ff6b09;
}

.cardset__price.old {
  color: #bbbbbb;
}

.cardset__price.del {
  color: #000000;
  text-decoration: line-through;
  margin-right: 10px;
}

.modal-exit-confirmation-backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.modal-exit-confirmation {
  position: relative;
  margin: 0 auto;
  padding: 60px 20px;
  width: 290px;
  height: 205px;
  background-color: #f5f6fb;
}

@media screen and (min-width: 768px) {
  .modal-exit-confirmation {
    padding: 60px 105px;
    width: 650px;
    height: 230px;
  }
}

.modal-exit-confirm-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-exit-confirm-button {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  cursor: pointer;
  width: 119px;
  height: 50px;
  border: 1px solid #bbbbbb;
}

@media screen and (min-width: 768px) {
  .modal-exit-confirm-button {
    width: 210px;
    height: 60px;
  }
}

.modal-exit-confirm-container-btn-cancel {
  background-color: #f5f6fb;
  color: #000000;
}

.modal-exit-confirm-container-btn-out {
  background-color: #ff6b09;
  color: #fff;
}

.modal-exit-confirm-container-text {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .modal-exit-confirm-container-text {
    margin-bottom: 30px;
  }
}

.modal-exit-confirm-container-btn-clear {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .modal-exit-confirm-container-btn-clear {
    top: 30px;
    right: 30px;
  }
}

.pop-up-search-backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.pop-up-search-container {
  position: relative;
  padding: 50px 20px 60px;
  width: 290px;
  height: 152px;
  background-color: #ff6b09;
}

@media screen and (min-width: 768px) {
  .pop-up-search-container {
    padding: 94px 50px;
    width: 650px;
    height: 230px;
  }
}

@media screen and (min-width: 1280px) {
  .pop-up-search-container {
    padding: 94px 105px;
    width: 860px;
    height: 230px;
  }
}

.pop-up-search-input {
  padding: 7px 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000000;
  background-color: transparent;
  color: white;
  width: 100%;
  height: 100%;
}

.pop-up-search-input::-webkit-input-placeholder {
  color: white;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #fff;
  opacity: 0.5;
}

.pop-up-search-input:-ms-input-placeholder {
  color: white;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #fff;
  opacity: 0.5;
}

.pop-up-search-input::-ms-input-placeholder {
  color: white;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #fff;
  opacity: 0.5;
}

.pop-up-search-input::placeholder {
  color: white;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #fff;
  opacity: 0.5;
}

.icon-search-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.pop-up-search-material-icon-search {
  top: 56px;
  right: 30px;
}

@media screen and (min-width: 768px) {
  .pop-up-search-material-icon-search {
    top: 97px;
    right: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .pop-up-search-material-icon-search {
    right: 125px;
  }
}

.pop-up-search-material-icon-clear {
  top: 15px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .pop-up-search-material-icon-clear {
    top: 25px;
    right: 20px;
  }
}

.footer {
  padding-top: 38px;
  padding-bottom: 39px;
  background: #fff;
}

@media screen and (min-width: 768px), screen and (max-width: 768px) and (orientation: landscape) {
  .footer {
    padding-top: 34px;
    padding-bottom: 34px;
  }
}

.footer__copyright {
  margin-right: 5px;
}

.footer__text {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px), screen and (max-width: 768px) and (orientation: landscape) {
  .footer__text:not(:last-child) {
    margin-bottom: 0px;
  }
}

.footer__vertikal-line-none {
  display: none;
}

@media screen and (min-width: 768px), screen and (max-width: 768px) and (orientation: landscape) {
  .footer__vertikal-line-none {
    display: block;
  }
}

.footer__vertikal-line {
  margin-right: 9px;
  margin-left: 9px;
  color: #e2e3e5;
}

.footer__head {
  margin-right: 7px;
  margin-left: 7px;
  color: #ff6b09;
}

@media screen and (min-width: 768px), screen and (max-width: 768px) and (orientation: landscape) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-16 {
  font-size: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add-card__modal {
  padding: 55px 20px 60px;
  width: 290px;
  margin: 0 auto;
  background-color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .add-card__modal {
    padding: 55px 55px 60px;
    width: 725px;
  }
}

@media screen and (min-width: 1280px) {
  .add-card__modal {
    padding: 55px 105px 60px;
    width: 860px;
  }
}

.icon-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.icon-btn .material-icons {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .icon-btn {
    top: 25px;
    right: 25px;
  }
}

.add-card__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.15;
}

@media screen and (min-width: 768px) {
  .add-card__title {
    margin-bottom: 30px;
  }
}

.add-card__item {
  margin-bottom: 20px;
}

.add-card__item:last-child {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .add-card__item:last-child {
    margin-bottom: 40px;
  }
}

.add-card__label {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .add-card__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.add-card__subtitle {
  display: block;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .add-card__subtitle {
    display: inline-block;
    margin-bottom: 0;
  }
}

.add-card__input {
  padding: 21px 20px 20px 23px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border: 1px solid #bbbbbb;
  cursor: text;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .add-card__input {
    width: 458px;
  }
}

@media screen and (min-width: 1280px) {
  .add-card__input {
    width: 440px;
  }
}

.add-card__input.select-input {
  cursor: pointer;
}

.add-card__input.description {
  padding: 7px 10px 8px;
  resize: vertical;
  overflow: auto;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
}

.notice {
  position: relative;
}

.notice .add-card__input::-webkit-inner-spin-button {
  display: none;
}

.notice .icon-btn {
  top: 43px;
  right: 15px;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .notice .icon-btn {
    top: 17px;
    right: 15px;
  }
}

.notice-label {
  position: absolute;
  bottom: 0;
  left: 23px;
  opacity: 1;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  color: #bbbbbb;
}

.notice:focus-within .notice-label,
.notice .add-card__input:not(:placeholder-shown) + .notice-label {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .notice-label {
    left: 181px;
    bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .notice-label {
    left: 234px;
    bottom: 20px;
  }
}

.price-valuta {
  position: absolute;
  left: 55px;
  bottom: 0;
  color: #bbbbbb;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.notice:focus-within .price-valuta,
.notice .add-card__input:not(:placeholder-shown) ~ .price-valuta {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  right: 33px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .price-valuta {
    left: 213px;
    bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .price-valuta {
    left: 265px;
    bottom: 20px;
  }
}

.submit-btn {
  width: 100%;
  padding: 20px 0;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6b09;
  border: none;
  cursor: pointer;
}

.submit-btn.reset {
  margin-left: 15px;
  color: #000000;
  background-color: #fff;
  border: 1px solid #bbbbbb;
}

@media screen and (min-width: 768px) {
  .submit-btn.reset {
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .submit-btn {
    margin-left: 158px;
    width: 265px;
  }
}

@media screen and (min-width: 1280px) {
  .submit-btn {
    margin-left: 211px;
    width: 210px;
  }
}

.photo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px;
}

@media screen and (min-width: 768px) {
  .photo-list {
    margin: 0;
    width: 458px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1280px) {
  .photo-list {
    width: 440px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.photo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  width: calc((100% - 3 * 10px) / 3);
  height: 46px;
  background-color: #f5f6fb;
}

@media screen and (min-width: 768px) {
  .photo-item {
    width: 84px;
    margin: 0;
    margin-right: 10px;
  }
  .photo-item:last-child {
    margin-right: 0;
  }
}

.photo-input {
  display: none;
}

.photo-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #bbbbbb;
  cursor: pointer;
}

.checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.07em;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .checkbox-field {
    margin-left: 158px;
  }
}

@media screen and (min-width: 1280px) {
  .checkbox-field {
    margin-left: 211px;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-label::before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/delete-card.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox:checked + .checkbox-label::before {
  background-image: url("../img/delete-card-checked.svg");
}

.checkbox:checked + .checkbox-label {
  color: #ff6b09;
}

.edit-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit-buttons .submit-btn {
  font-weight: 500;
  text-transform: none;
}

.authorization-backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .authorization-backdrop {
    padding: 60px;
  }
}

.authorization-modal {
  position: relative;
  max-width: 290px;
  padding: 60px 18px;
  background-color: #f5f6fb;
}

@media screen and (min-width: 768px) {
  .authorization-modal {
    max-width: 650px;
  }
}

@media screen and (min-width: 768px) {
  .authorization-modal {
    padding: 65px 100px;
  }
}

.authorization-modal-header {
  font-weight: 700;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .authorization-modal-header {
    margin-bottom: 35px;
  }
}

.authorization-modal-register {
  background-color: #f5f6fb;
  border: 1px solid #bbbbbb;
}

.authorization-modal-login {
  background-color: #ff6b09;
  border: none;
  color: #fff;
}

.authorization-close-button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #f5f6fb;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .authorization-close-button {
    top: 25px;
    right: 25px;
  }
}

.authorization-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authorization-input {
  height: 56px;
  padding: 20px 0 20px 25px;
  border: 1px solid #bbbbbb;
  -webkit-transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.authorization-input:active, .authorization-input:focus {
  outline: none;
  border-color: #ff6b09;
}

.authorization-input::-webkit-input-placeholder {
  color: #bbbbbb;
}

.authorization-input:-ms-input-placeholder {
  color: #bbbbbb;
}

.authorization-input::-ms-input-placeholder {
  color: #bbbbbb;
}

.authorization-input::placeholder {
  color: #bbbbbb;
}

.authorization-input:not(:last-of-type) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .authorization-input:not(:last-of-type) {
    margin-bottom: 25px;
  }
}

.authorization-button {
  height: 50px;
  width: 118px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .authorization-button {
    height: 60px;
    width: 210px;
  }
}

.authorization-button-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.google-auth {
  width: 140px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  background-color: #fff;
  border: transparent;
  cursor: pointer;
  -webkit-transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.google-auth:focus, .google-auth:hover, .google-auth:active {
  border: 1px solid #ff6b09;
}

.google-auth-icon {
  margin-right: 10px;
}

.categorylist {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f6fb;
}

.categorylist:not(:last-child) {
  border-bottom: 1px solid #e2e3e5;
}

.categorylist__btn {
  border: none;
  outline: none;
  border-radius: 50%;
}

.categorylist__btn.left {
  margin-right: 20px;
}

.categorylist__btn.right {
  margin-left: auto;
}

@media screen and (max-width: 479px) {
  .categorylist:first-child {
    padding-top: 25px;
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 480px) {
  .categorylist {
    padding-top: 15px;
    padding-bottom: 55px;
  }
}

@media screen and (min-width: 1280px) {
  .categorylist {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .categorylist:first-child {
    padding-bottom: 65px;
  }
}

.categorylist__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  font-family: "Montserrat", "Open Sans", sans-serif;
  color: #000000;
}

@media screen and (min-width: 480px) {
  .categorylist__description {
    padding-bottom: 15px;
  }
}

.categorylist__description .material-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
}

.categorylist__description .material-icons:hover, .categorylist__description .material-icons:focus {
  background-color: #ff6b09;
  cursor: pointer;
  color: #fff;
}

@media screen and (max-width: 479px) {
  .categorylist__description .material-icons {
    display: none;
  }
}

.categorylist__title {
  margin-right: 20px;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.categorylist__title.other {
  margin-right: 10px;
}

.categorylist__title.other .border {
  width: 0;
  height: 20px;
  border-right: 1px solid #e2e3e5;
  margin-left: 10px;
}

.categorylist__link {
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  color: #ff6b09;
  text-decoration: underline;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  background-color: #f5f6fb;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .pagination {
    padding-bottom: 60px;
  }
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1px;
  width: 50px;
  height: 50px;
  color: #000000;
  background-color: #fff;
}

@media screen and (min-width: 480px) {
  .pagination__link {
    width: 60px;
    height: 60px;
  }
}

.pagination__link:hover, .pagination__link:focus {
  color: #fff;
  background-color: #000000;
}

.pagination__link.activ {
  color: #fff;
  background-color: #000000;
}

.header_button__search {
  background-color: #fff;
}

.header_button__replay {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.header_nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* @media screen and (max-width: 767px) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }*/
}

.header_button__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo__link {
  display: block;
  margin-left: 90px;
}

@media screen and (min-width: 768px) {
  .header_logo__link {
    width: 80px;
    height: 20px;
    margin-left: 316px;
  }
}

@media screen and (min-width: 1280px) {
  .header_logo__link {
    width: 56px;
    height: 22px;
    margin-left: 570px;
  }
}

.header_registration {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  margin-right: 19px;
  display: none;
}

@media screen and (min-width: 1280px) {
  .header_registration {
    display: block;
  }
}

.header_button__perm_identity {
  background-color: #fff;
  margin-right: 21px;
  display: none;
}

@media screen and (min-width: 768px) {
  .header_button__perm_identity {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .header_button__perm_identity {
    display: none;
  }
}

.header_button__create {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: #ff6b09;
  color: #fff;
  display: none;
}

@media screen and (min-width: 768px) {
  .header_button__create {
    width: 188px;
    height: 70px;
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .header_button__create {
    width: 214px;
    height: 70px;
  }
}

.header_filter {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.header_filter__replay {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #000000;
  display: none;
}

@media screen and (min-width: 768px) {
  .header_filter__replay {
    display: block;
  }
}

.header_filter__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .header_filter__wrap {
    height: 69px;
  }
}

.header_filter_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header_filter__item:not(:last-child) {
    margin-right: 42px;
  }
}

.header_nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .header_nav__wrap {
    height: auto;
  }
}

@media screen and (min-width: 1280px) {
  .header_nav__wrap {
    height: 70px;
  }
}

.header_button__replay {
  margin-right: 14px;
  margin-left: 40px;
  display: none;
}

@media screen and (min-width: 768px) {
  .header_button__replay {
    display: block;
  }
}

.button-menu {
  min-width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .button-menu {
    display: none;
  }
}

.button-menu .icon-menu {
  display: none;
}

.button-menu.is-open .icon-menu {
  display: block;
}

.button-menu.is-open .icon-close {
  display: none;
}

.header_filter {
  display: none;
}

@media screen and (min-width: 1280px) {
  .header_filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header_filter.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .header_button_menu_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/*.header_button_menu_phone {
  @media screen and (max-width: 767px) {
    display: flex;
  }
}*/
/*# sourceMappingURL=main.css.map */