<ul class="">
    {{#each this}}
    <li class="categorylist">
        <div class="categorylist__description">
            <button class="categorylist__btn left">
                <span class="material-icons">keyboard_arrow_left</span>
            </button>
            <h3 class="categorylist__title">{{@key}}</h3>
            <a href="" class="categorylist__link" data-filter="{{@key}}">Дивитися всі</a>
            <button class="categorylist__btn right">
                <span class="material-icons">keyboard_arrow_right</span>
            </button>
        </div>

        {{>./cardset}}
    </li>
    {{/each}}
</ul>