<form class="comment-card">
    <label class="comment-card__field">
        <textarea class="comment-card__input" name="comment" placeholder="Type your answer here"></textarea>
    </label>
    <button class="button" type="submit">Comment</button>
    <button class="button">Close</button>
</form>