<ul class="my-office">
    {{#each this}}
    <li class="categorylist" data-index="{{@index}}">
        <div class="categorylist__description">
            <button class="categorylist__btn left">
                <span class="material-icons arrow-left">keyboard_arrow_left</span>
            </button>
            <h3 class="categorylist__title">{{@key}}</h3>
            <button class="categorylist__btn right">
                <span class="material-icons arrow-right">keyboard_arrow_right</span>
            </button>
        </div>
        {{>./cardset}}
    </li>
    {{/each}}
</ul>