<div class="container-header">
    <nav class="container_nav">
        <ul class="header_nav__list">
            <li class="header_nav__item">
                <button type="button" class="header_button__search">
                    <span class="material-icons">search</span>
                </button>
            </li>
            <li class="header_nav__item">
                <a href="#" class="header_logo__link">
                    <img src="./logo.svg" alt="Logo">
                </a>
            </li>
        </ul>

        <div>
            <a href="#" class="header_registration">Реєстрація / Увійти</a>
            <button type="button" class="header_button__create">
                Створити оголошення!
            </button>
        </div>

        <div>
            <ul class="header_filter">
                <li class="header_filter__item">
                    <a href="#" class="header_filter__link">Нерухомість</a>
                </li>
                <li class="header_filter__item">
                    <a href="#" class="header_filter__link">Транспорт</a>
                </li>
                <li class="header_filter__item">
                    <a href="#" class="header_filter__link">Робота</a>
                </li>
                <li class="header_filter__item">
                    <a href="#" class="header_filter__link">Електроніка</a>
                </li>
                <li class="header_filter__item">
                    <a href="#" class="header_filter__link">Бізнес та послуги</a>
                </li>
                <li class="header_filter__item">
                    <a href="#" class="header_filter__link">Відпочинок і спорт</a>
                </li>
                <li class="header_filter__item">
                    <a href="#" class="header_filter__link">Віддам безкоштовно</a>
                </li>
                <li class="header_filter__item">
                    <a href="#" class="header_filter__link">Обмін</a>
                </li>
            </ul>
        </div>

        <div>
            <button type="button" class="header_button__replay">
                <span class="material-icons">replay</span>
            </button>
            <p class="header_filter__replay">Очистити фільтри</p>
        </div>

    </nav>
</div>