<section class="categories">{{>./category}}</section>
<div class="pagination" data-pagination>
    <a class="pagination__link active" href="#one">1</a>
    <a class="pagination__link" href="#two">2</a>
    <a class="pagination__link" href="#three">3</a>
</div>