<section class="categories">{{>./category}}</section>
<div class="pagination" data-pagination>
    <a class="pagination__link active" href="#">1</a>
    <a class="pagination__link" href="#">2</a>
    <a class="pagination__link" href="#">3</a>
</div>