<div data-close class="backdrop">
    <div class="pop-up-search-container">

        <form action="">
            <input id="search" data-input class="pop-up-search-input" type="text" placeholder="ПОШУК" />
            <button id="btn1" class="pop-up-search-material-icon-search icon-search-btn" type="submit">
                <span class="material-icons"> search </span>
            </button>
        </form>

        <button class="pop-up-search-material-icon-clear icon-search-btn icon-btn" type="button">
            <span data-close class="material-icons "> clear </span>
        </button>
    </div>
</div>