<div data-close class="backdrop">
    <div class="pop-up-search-container">
        <form class="pop-up-search-form" action="">
            <input class="pop-up-search-input" name="formSearch" type="text" placeholder="ПОШУК" />
            <button class="pop-up-search-material-icon-search icon-search-btn" type="submit">
                <span data-close class="material-icons"> search </span>
            </button>
        </form>
        <button class="pop-up-search-material-icon-clear icon-search-btn" type="button">
            <span data-close class="material-icons"> clear </span>
        </button>
    </div>
</div>