<div data-close class="backdrop">
    <div class="modal-exit-confirmation">
        <div class="modal-exit-confirm-container">
            <p class="modal-exit-confirm-container-text">
                Ви дійсно хочете вийти з акаунта?
            </p>
            <div class="modal-exit-confirm-button-container">
                <button data-close data-out class="modal-exit-confirm-container-btn-out modal-exit-confirm-button"
                    type="button">
                    Вийти
                </button>
                <button data-close class="modal-exit-confirm-container-btn-cancel modal-exit-confirm-button"
                    type="button">
                    Відміна
                </button>
            </div>

            <button class="modal-exit-confirm-container-btn-clear icon-btn" type="button">
                <span data-close class="material-icons md-24">clear</span>
            </button>
        </div>
    </div>
</div>