<div data-close class="backdrop">
    <div class="pop-up-search-container">

        <form class="pop-up-search-form" id="search-form">
            <input class="pop-up-search-input" type="text" name="query" autocomplete="off" placeholder="ПОШУК" />
            <button type="submit" data-close class="pop-up-search-material-icon-search icon-search-btn">
                <span class="material-icons"> search </span>
            </button>
        </form>

        <button class="pop-up-search-material-icon-clear icon-search-btn" type="button">
            <span data-close class="material-icons"> clear </span>
        </button>
    </div>
</div>