<div class="modal-product">
    <button class="button-close">
        <span class="material-icons">clear</span>
    </button>
    <div class="modal-foto-box">
        <div class="modal-product_foto">
            <img src="./img/Goods-image@2x.png" alt="" />
        </div>
        <div class="foto-wrapper">
            <ul class="foto-list">
                <li class="foto-list_atem">
                    <img src="./img/Goods-image@1x.png" alt="" />
                </li>
                <li class="foto-list_atem">
                    <img src="./img/Goods-image@1x.png" alt="" />
                </li>
                <li class="foto-list_atem">
                    <img src="./img/Goods-image@1x.png" alt="" />
                </li>
                <li class="foto-list_atem">
                    <img src="./img/Goods-image@1x.png" alt="" />
                </li>
                <li class="foto-list_atem">
                    <img src="./img/Goods-image@1x.png" alt="" />
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-content">
        <h4 class="modal-content_title">Футболка спортивна</h4>
        <p class="modal-content_code">Код товару | 105-С</p>
        <p class="modal-content_price">200.00 грн</p>
        <button class="modal-button-info">
            Информация о <br />
            продавце
        </button>
        <div class="modal-actions">
            <ul class="actions-list">
                <li class="actions-atem">
                    <p class="actions-atem_title">В обране</p>
                    <button class="actions-atem_button">
                        <span class="material-icons">favorite_border</span>
                    </button>
                </li>
                <li class="actions-atem">
                    <p class="actions-atem_title">Поділитися</p>
                    <button class="actions-atem_button">
                        <span class="material-icons">share</span>
                    </button>
                </li>
            </ul>
        </div>
        <p class="modal-text-title">Опис:</p>
        <p class="modal-text">
            Давно выяснено, что при оценке дизайна и композиции читаемый текст
            мешает сосредоточиться. Lorem Ipsum используют потому, что тот
            обеспечивает более или менее стандартное заполнение шаблона.
        </p>
    </div>
</div>